**__pycache__**
systemd/user/default.target.wants/
systemd/user/.*
systemd/user/graphical-session.target.wants/
systemd/user/sockets.target.wants/
sublime-text/Local/*
/sublime-text/Log/*
/sublime-text/Trash/*
nvim/autoload/plug.vim.old
nvim/.luarc.json
