* {
	font-size: 15px;
	font-family: Hack Nerd Font;
}

window#waybar {
    background: transparent;
    /* background: rgba(41, 43, 46, 0.5); */
	/* background: #292b2e; */
	color: #fdf6e3;
}

#custom-right-arrow-dark {
	color: #1a1a1a;
}

#custom-powermenu,
#custom-updates,
#clock.1,
#workspaces,
#pulseaudio,
#tray {
	background: #1a1a1a;
    padding: 0 5px;
    border-radius: 15px 15px 15px 15px;
}

#custom-nemo{
	background: #1a1a1a;
    padding: 0 5px;
    border-radius: 0 15px 15px 0;
}

#custom-firefox{
	background: #1a1a1a;
    padding: 0 5px;
    border-radius: 15px 0 0 15px;
}

#custom-updates.updates{
	color: #268bd2;
}



#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.visible {
	color: #268bd2;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}

